$color-brand: #409eff;

$color-primary-text: #303133;
$color-regular-text: #606266;
$color-secondary-text: #909399;

$color-basic-black: #000000;
$color-basic-white: #ffffff;

$color-background-driver-app: #f4f4f6;
